### Go.AllowList template
# Allowlisting gitignore template for GO projects prevents us
# from adding various unwanted local files, such as generated
# files, developer configurations or IDE-specific files etc.
#
# Recommended: Go.AllowList.gitignore

# Ignore everything
*

# But not these files...
!/.gitignore

!*.go
!go.*
!*.yaml

!README.md
!AGENTS.md
!design.md
!LICENSE

!.githooks/pre-commit

!sample.pdf
!sample.wav
!sample.jpg

# !Makefile

# ...even if they are in subdirectories
!*/