openapi: 3.0.3
info:
  title: OpenCode Chat Completions API
  description: OpenCode Go subscription Chat Completions API used by the GAI adapter.
  version: 1.0.0
servers:
  - url: https://opencode.ai/zen/go/v1
    x-ogen-server-name: default
security:
  - bearerAuth: []
paths:
  /chat/completions:
    post:
      operationId: createChatCompletion
      description: Creates a model response through the OpenCode Go subscription.
      parameters:
        - name: x-opencode-session
          in: header
          description: Stable conversation ID used for upstream-provider affinity.
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChatCompletionRequest"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatCompletionResponse"
            text/event-stream:
              x-ogen-sse-event-shape: data-only
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ChatCompletionChunk"
                  - type: string
                    enum:
                      - "[DONE]"
        default:
          description: Error response from OpenCode or its upstream provider.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    ChatCompletionRequest:
      type: object
      required:
        - model
        - messages
      properties:
        model:
          type: string
          description: OpenCode model ID. Available IDs can change independently of this client.
        messages:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/Message"
        tools:
          type: array
          items:
            $ref: "#/components/schemas/FunctionTool"
        tool_choice:
          $ref: "#/components/schemas/ToolChoice"
        stream:
          type: boolean
        stream_options:
          $ref: "#/components/schemas/StreamOptions"
        store:
          type: boolean
        reasoning_effort:
          type: string
          description: Model-specific reasoning effort, passed through without client-side enumeration.
        max_tokens:
          type: integer
          minimum: 1
        temperature:
          type: number
        top_p:
          type: number
        frequency_penalty:
          type: number
        presence_penalty:
          type: number
        seed:
          type: integer
        stop:
          $ref: "#/components/schemas/Stop"
    StreamOptions:
      type: object
      properties:
        include_usage:
          type: boolean
    Stop:
      oneOf:
        - type: string
        - type: array
          items:
            type: string
    Message:
      oneOf:
        - $ref: "#/components/schemas/SystemMessage"
        - $ref: "#/components/schemas/UserMessage"
        - $ref: "#/components/schemas/AssistantMessage"
        - $ref: "#/components/schemas/ToolMessage"
      discriminator:
        propertyName: role
        mapping:
          system: "#/components/schemas/SystemMessage"
          user: "#/components/schemas/UserMessage"
          assistant: "#/components/schemas/AssistantMessage"
          tool: "#/components/schemas/ToolMessage"
    SystemMessage:
      type: object
      required:
        - role
        - content
      properties:
        role:
          type: string
          enum:
            - system
        content:
          type: string
    UserMessage:
      type: object
      required:
        - role
        - content
      properties:
        role:
          type: string
          enum:
            - user
        content:
          $ref: "#/components/schemas/UserMessageContent"
    UserMessageContent:
      oneOf:
        - type: string
        - type: array
          items:
            $ref: "#/components/schemas/UserContentPart"
    UserContentPart:
      oneOf:
        - $ref: "#/components/schemas/TextContentPart"
        - $ref: "#/components/schemas/ImageContentPart"
      discriminator:
        propertyName: type
        mapping:
          text: "#/components/schemas/TextContentPart"
          image_url: "#/components/schemas/ImageContentPart"
    TextContentPart:
      type: object
      required:
        - type
        - text
      properties:
        type:
          type: string
          enum:
            - text
        text:
          type: string
    ImageContentPart:
      type: object
      required:
        - type
        - image_url
      properties:
        type:
          type: string
          enum:
            - image_url
        image_url:
          $ref: "#/components/schemas/ImageURL"
    ImageURL:
      type: object
      required:
        - url
      properties:
        url:
          type: string
        detail:
          type: string
    AssistantMessage:
      type: object
      required:
        - role
      properties:
        role:
          type: string
          enum:
            - assistant
        content:
          type: string
          nullable: true
        tool_calls:
          type: array
          items:
            $ref: "#/components/schemas/ToolCall"
        reasoning_content:
          type: string
        reasoning:
          type: string
        reasoning_details:
          type: array
          items:
            $ref: "#/components/schemas/ReasoningDetail"
    ToolMessage:
      type: object
      required:
        - role
        - tool_call_id
        - content
      properties:
        role:
          type: string
          enum:
            - tool
        tool_call_id:
          type: string
        content:
          type: string
    FunctionTool:
      type: object
      required:
        - type
        - function
      properties:
        type:
          type: string
          enum:
            - function
        function:
          $ref: "#/components/schemas/FunctionDefinition"
    FunctionDefinition:
      type: object
      required:
        - name
        - description
        - parameters
      properties:
        name:
          type: string
        description:
          type: string
        parameters:
          type: object
          additionalProperties: {}
        strict:
          type: boolean
    ToolChoice:
      oneOf:
        - type: string
          enum:
            - none
            - auto
            - required
        - $ref: "#/components/schemas/NamedToolChoice"
    NamedToolChoice:
      type: object
      required:
        - type
        - function
      properties:
        type:
          type: string
          enum:
            - function
        function:
          type: object
          required:
            - name
          properties:
            name:
              type: string
    ToolCall:
      type: object
      required:
        - id
        - type
        - function
      properties:
        id:
          type: string
        type:
          type: string
          enum:
            - function
        function:
          $ref: "#/components/schemas/ToolCallFunction"
    ToolCallFunction:
      type: object
      required:
        - name
        - arguments
      properties:
        name:
          type: string
        arguments:
          type: string
    ChatCompletionResponse:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
        created:
          type: integer
          format: int64
        model:
          type: string
        system_fingerprint:
          type: string
        choices:
          type: array
          items:
            $ref: "#/components/schemas/ChatChoice"
        usage:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/Usage"
        cost:
          type: string
    ChatChoice:
      type: object
      properties:
        index:
          type: integer
        message:
          $ref: "#/components/schemas/ResponseMessage"
        finish_reason:
          type: string
    ResponseMessage:
      type: object
      properties:
        role:
          type: string
        content:
          type: string
          nullable: true
        reasoning_content:
          type: string
          nullable: true
        reasoning:
          type: string
          nullable: true
        reasoning_details:
          type: array
          items:
            $ref: "#/components/schemas/ReasoningDetail"
        tool_calls:
          type: array
          nullable: true
          items:
            $ref: "#/components/schemas/ToolCall"
    ReasoningDetail:
      type: object
      required:
        - type
      properties:
        type:
          type: string
        summary:
          type: string
        text:
          type: string
          nullable: true
        data:
          type: string
        signature:
          type: string
          nullable: true
        id:
          type: string
          nullable: true
        format:
          type: string
          nullable: true
        index:
          type: integer
    ChatCompletionChunk:
      type: object
      required:
        - choices
      properties:
        id:
          type: string
        object:
          type: string
        created:
          type: integer
          format: int64
        model:
          type: string
        system_fingerprint:
          type: string
        choices:
          type: array
          items:
            $ref: "#/components/schemas/ChatCompletionChunkChoice"
        usage:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/Usage"
        cost:
          type: string
    ChatCompletionChunkChoice:
      type: object
      properties:
        index:
          type: integer
        delta:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/ChatCompletionChunkDelta"
        finish_reason:
          type: string
          nullable: true
    ChatCompletionChunkDelta:
      type: object
      properties:
        role:
          type: string
        content:
          type: string
          nullable: true
        reasoning_content:
          type: string
          nullable: true
        reasoning:
          type: string
          nullable: true
        reasoning_details:
          type: array
          items:
            $ref: "#/components/schemas/ReasoningDetail"
        tool_calls:
          type: array
          nullable: true
          items:
            $ref: "#/components/schemas/ChatCompletionChunkToolCall"
    ChatCompletionChunkToolCall:
      type: object
      required:
        - index
      properties:
        index:
          type: integer
        id:
          type: string
          nullable: true
        type:
          type: string
          nullable: true
        function:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/ChatCompletionChunkToolCallFunction"
    ChatCompletionChunkToolCallFunction:
      type: object
      properties:
        name:
          type: string
          nullable: true
        arguments:
          type: string
          nullable: true
    Usage:
      type: object
      properties:
        prompt_tokens:
          type: integer
        completion_tokens:
          type: integer
        total_tokens:
          type: integer
        cached_tokens:
          type: integer
        prompt_cache_hit_tokens:
          type: integer
        prompt_cache_miss_tokens:
          type: integer
        prompt_tokens_details:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/PromptTokensDetails"
        completion_tokens_details:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/CompletionTokensDetails"
    PromptTokensDetails:
      type: object
      properties:
        cached_tokens:
          type: integer
        cache_creation_input_tokens:
          type: integer
    CompletionTokensDetails:
      type: object
      properties:
        reasoning_tokens:
          type: integer
    ErrorResponse:
      type: object
      properties:
        type:
          type: string
          nullable: true
        message:
          type: string
          nullable: true
        error:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/ErrorDetail"
        metadata:
          type: object
          nullable: true
          additionalProperties: {}
    ErrorDetail:
      type: object
      properties:
        type:
          type: string
          nullable: true
        message:
          type: string
          nullable: true
        code:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/ErrorCode"
        param:
          type: string
          nullable: true
    ErrorCode:
      oneOf:
        - type: string
        - type: integer
